@import "./partials/reset";
@import "./partials/variables";

body {
  background-color: $background-color;
  font-family: $font-family;
}

a {
  color: $link-color;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr 15fr;
  gap: 40px;
}

header {
  background-color: $background-header;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  min-width: 300px;

  nav {
    padding: 1.5rem;
    height: 100%;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #navigation {
      // Flex-grow : Pour lui dire de remplir intégralement la place restante (la hauteur moins la height de #settings)
      flex-grow: 1;
      width: 75%;

      #logo {
        padding-bottom: 1.5rem;
        text-align: center;
      }

      #main {
        padding-top: 0;
        margin-top: 0;
      }

      .subtitle {
        font-weight: 600;
        text-transform: uppercase;
        color: $link-color;
        font-size: 1rem;
      }

      > div {
        border-top: 1px solid #44444462;
        padding-top: 1rem;
      }

      > div:first-child {
        border-top: none;
      }

      li {
        img {
          width: 20px;
        }
        padding: 7px 0;
        a {
          display: flex;
          gap: 7px;
          align-items: center;
          font-size: 1rem;
          font-weight: 300;

          &:hover {
            color: $link-active;
          }

          &.active {
            font-weight: 600;
          }
        }
      }
    }
    #settings {
      height: 80px;
      width: 75%;

      > div {
        display: flex;
        align-items: center;
        gap: 7px;

        a {
          color: $link-color;
          text-decoration: none;
        }
      }
    }
  }
}
