@import "./partials/reset";
@import "./partials/variables";
@import "./partials/navigation";
@import "./partials/main";

body {
  background-color: $background-color;
  font-family: $font-family;
}

a {
  color: $link-color;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr 15fr;
  gap: 15px;
}
