.news_cards_zone {
  overflow-x: scroll;
  scrollbar-width: none;
  > .cards {
    z-index: 1;
    display: inline-flex;
    gap: 35px;
    cursor: grab;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      background: linear-gradient(270deg, #000 6%, rgba(10, 10, 10, 0) 100%);
      height: 100%;
      width: 27%;
      z-index: 500;
      overflow: hidden;
    }
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    background: linear-gradient(180deg, #1f2a2b 0%, #274749 100%);
    border-radius: 15px;
    padding: 0 2rem;
    height: auto;
    width: 100%;
    min-width: 700px;

    &_content {
      display: flex;
      height: 80%;
      flex-direction: column;
      justify-content: space-around;
      gap: 7px;

      > .title {
        > h3 {
          padding: 0;
          margin: 0;
          color: white;
          font-weight: 600;
        }
      }

      > .text {
        color: #91a2a4;
        font-weight: 400;
        padding: 0;
      }

      > .button {
        > a {
          display: flex;
          gap: 10px;
          align-items: center;
          background-color: $link-active;
          width: max-content;
          padding: 0.95rem 1.45rem;
          border-radius: 7px;
          font-weight: 600;
          font-size: 0.9rem;
          color: black;
        }

        margin-bottom: 0.5rem;
      }
    }

    &_image {
      display: flex;
      justify-items: center;
      img {
        max-height: 15rem;
        object-fit: contain;
        aspect-ratio: 1/1;
        mix-blend-mode: overlay;
        filter: contrast(1.25);
      }
    }
  }
}
